<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">Create campgrounds</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds" method="post" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="name">Name</label>
                    <input class="form-control" id="name" name="campground[name]" type="text" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" id="location" name="campground[location]" type="text" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <!-- <div class="mb-3">
                    <label class="form-label" for="image">Image URL</label>
                    <input class="form-control" id="image" name="campground[image]" type="text" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div> -->
                <div class="mb-3">
                    <label class="form-label" for="image">Upload image</label>
                    <input class="form-control" id="image" name="image" type="file" required multiple>
                </div>
                <div class="mb-3">
                    <label for="price">Price per Night</label>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">$</span>
                        <input type="text" name="campground[price]" class="form-control" placeholder="0.00"
                            aria-label="Price" aria-describedby="basic-addon1" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea row="3" class="form-control" id="description" name="campground[description]" type="text"
                        required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <button class="btn btn-success" type="submit">Add Campground</button>
            </form>
        </div>
    </div>

    